<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il Mio Sito</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js" defer></script>
</head>

<body>
    <header>
        <h1>Welcome to my site!</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/templates/projects.html">Projects</a>
            <a href="/templates/skills.html">Skills</a>
            <a href="/templates/about.html">About</a>
            <a href="/templates/contact.html">Contact</a>
            <a href="/templates/portfolio.html">Portfolio</a>
        </nav>
    </header>

    <div class="container">
        <section id="about">
            <h2>About Me</h2>
            <p>Hi! I am Mario Lo Coco, a passionate graphic designer, software developer, with a strong commitment to
                creating innovative and impactful solutions. I have honed my skills in HTML and CSS, Javascript, Python,
                enabling me to bring ideas to life through visually stunning designs and efficient coding. My goal is
                not just to meet expectations, but to exceed them, delivering work that not only looks good, but also
                achieves the intended purpose. In my free time,
                I enjoy going to the gym and visiting places to take photos, which fuel my creativity and inspire my
                work.</p>
            <button class="button">Click Here</button>
        </section>

        <section id="portfolio">
            <h2>My Portfolio</h2>
            <div class="slider">
                <img src="/static/images/HTML.jpg" width="100px" alt="Image 1" style="display: none;">
                <img src="/static/images/Photo1.jpg" width="100px" alt="Image 2" style="display: none;">
                <img src="/static/images/Javascript.jpg" width="100px" alt="Image 3" style="display: none;">
                <img src="/static/images/python3A-unsplash.jpg" width="100px" alt="Image 3" style="display: none;">
                <button class="prev">Previous</button>
                <button class="next">Next</button>
            </div>
        </section>
    </div>

    <footer>
        <p>&copy;2024 My Site. All rights reserved.</p>
    </footer>
</body>

</html>