<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Skills</title>
</head>
<body>
    <header>
        <h1>skills</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/templates/projects.html">Projects</a>
        <a href="/skills">Skills</a>
        <a href="/templates/about.html">About</a>
        <a href="/templates/contact.html">Contact</a>
        <a href="/templates/portfolio.html">Portfolio</a>
    </nav>
    <main>
        <section>
           <p>Below are some of the skills i possess</p>
           <ul>
            <li>HTML,CSS</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>flask</li>
           </ul>
        </section>
    </main>
</body>
</html>